@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-image: url("images/bg-image.svg");
}

img {
  margin-left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  color: #ffffff;
}

label {
  font-size: 0.875rem;
}

.intro {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  width: 80%;
}

.interest {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.details {
  font-size: 2rem;
}

form {
  margin-top: 1.25rem;
  background-color: rgba(205, 213, 224, 0.5);
  width: 90%;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1rem;
}

input[type="text"],
input[type="email"],
select,
textarea {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

input[type="text"] {
  color: #cdd5e0;
  font-size: 0.875rem;
}

select,
textarea {
  color: #111729;
  font-weight: 700;
  font-size: 0.875rem;
}

.form .form-item:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form .form-item:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#submit-btn {
  color: #4036a9;
  font-size: 1.25rem;
  background-color: #ffffff;
  border: 2px solid white;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: 700;
  margin-top: 0.875rem;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
  .form .form-item:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .form .form-item:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #ffffff;
    width: 80%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: #ffffff;
  }
}
