@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
    max-height: 100vh;
}

h1{
    font-size: 2.25rem;
}

.intro{
    text-align: left;
    margin: 3rem;
    width: 40%;
    margin-top: 6rem;
}

.review{
    line-height: 1.5em;
    font-size: 1.25rem;
    color:#52525A;
    font-family: "Sora", sans-serif;
    margin-top: 0.5rem;
}

.star {
    border: 2px solid #F5C044;
    border-radius: 50%;
    background-color: #F5C044;
    height: 2rem;
    width: 2rem;
    display: flex;              
    justify-content: center;     
    align-items: center;         
    text-align: center;
    margin-bottom: 0.5rem;     
}


.check_list{
    text-align: left;
    margin: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.first_review{
    position: absolute;
    top: 50px;
    left: 200px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 2rem;
    text-align: left;
    height: 12rem;
    width: 20rem;
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    margin-left: 43rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.second_review {
    position: absolute;
    top: 50px;
    left: 500px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 2rem;
    text-align: left;
    height: 12rem; 
    width: 20rem;
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
    margin-left: 15rem;
    margin-top: 17rem;
    border-radius: 1rem;
    font-size: 1rem;
}


.logo{
    height: 2rem;
    width: 6rem;
    margin-right: 0.4rem;
}

.header{
    margin-bottom: 0.3rem;
}

.name{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 5px;
    color: #18181B;
}

.name_review{
    color: #52525A;
    line-height: 1.5rem;
}

.check_list p {
    font-size: 0.875rem;
    color: #52525A;
    display: flex; 
    align-items: center;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.check_list_image {
    margin-right: 10px; 
    vertical-align: middle; 
}

@media only screen and (max-width: 640px) {
    .first_review {
        position: absolute;
        margin: 1rem auto; 
        width: 65%;
        left: 8rem; 
        top: 40rem;
    }

    .second_review {
        position: absolute; 
        margin: 1rem auto;
        width: 65%; 
        left: 1.5rem;
        top: 55rem;
    }

    .intro{
        text-align: left;
        margin: 3rem;
        width: 90%;
        margin-top: 6rem;
    }

    .review{
        line-height: 2.5rem;
        font-size: 1.25rem;
        color:#52525A;
        font-family: "Sora", sans-serif;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
    
    .check_list_image {
        margin-right: 5px; 
    }
}