@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Kalnia+Glaze:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    background-color: hsl(47, 88%, 63%);
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.card{
    border: 1px solid black;
    min-width: none;
    max-width: 360px;
    background: white;
    padding: 1.2rem;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    border-radius: 10px;
}

#small{
    background-color: hsl(47, 88%, 63%);
    padding: 8.5px;
    width: 25%;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    }

p{
    font-size: 14px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}
    
.course{
    margin-bottom: 10px;
}

#name{
    font-weight: 800px;
    display: inline-block;
}

#avatar{
    width: 30px;
    height: 30px;
}
.profile{
    display: flex;
    align-items: center;
}

.profile h4{
    margin-left: 1rem;
    font-size: 14px;
}

.attribution {
    margin-top: 20px;
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}